@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost:wght@500&display=swap');

body{
  background-image: linear-gradient(45deg, #dd3e54, #6be585);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  font-family: 'Jost', sans-serif;
}

@keyframes change{
    0% {
    background-position: 0 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0 50%
    }
}
.container{
    padding: 2em 2em 2em 2em;
    width: 350px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 25px 25px;
    overflow: scroll;

}
    .myButton {
    background-color:transparent;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    }
    .myButton:hover {
    background-color:transparent;
    color: white;
    border-color: white;
    }
    .myButton:active {
    position:relative;
    top:1px;
    }
.reg {
	background-color:transparent;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	float: right;
}
.reg:hover {
    background-color:transparent;
    color: white;
    border-color: white;
}
.reg:active {
	position:relative;
	top:1px;
}

div#hint_id_password1.formHint{
    list-style: none;
    font-size: 10px;
    color: white;
}
