{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

</head>
<body>
<div class="container">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="myButton">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="myButton">Login</a>
    <a href="{% url 'regis' %}" class="reg">Register</a>
    {% endif %}
    <br>
{% block content %}

{% endblock %}
</div>
</body>
</html>