{% extends 'base.html' %}

{% block content %}
{% if messages %}
<br>
<br>
    {% for i in messages %}
        {{ i }}
    {% endfor %}
{% endif %}
<br>
<div class ="login">
<br>
    <form method="POST" class="uniForm">
        {% csrf_token %}
        {{ form }}
        <button>Sign in</button>
    </form>
</div>

{% endblock %}