{% extends 'base.html' %}

{% block content %}

<br>
<div class ="regis">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <ul class="form">{{ form }}</ul>

            <button>Sign Up!</button>
    </form>
</div>

{% endblock %}